body {
    font-family: var(--default-font), sans-serif;
    font-size: 16px;
}

a {
    color: #f90;
    text-decoration: underline;
    &:visited {
        color: currentColor;
    }
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &:focus {
        box-shadow: none;
    }
}

@font-face {
    font-family: 'Fixedsys';
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/fixed-sys.otf");
}


@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 800;
    font-stretch: 55 100;
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 100 800;
    font-stretch: 55 100;
}