.label {
    font-family: var(--accent-font);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;

    .label {
        padding-left: 16px;
    }

    input[type="email"] {
        width: 100%;
    }
}
.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    gap: 16px;
    align-items: center;

    input[type="email"] {
        flex-grow: 1;
    }
}

.input {
    border-radius: 0px;
    border: 1px solid #ECECEC;
    padding: 4px 16px;
    background-color: #fff;
    max-width: 100%;

    &::placeholder  {
        font-style: italic;
    }
    
    &:focus {
        outline: none;
        border: 1px solid var(--contrast-color);
    }

    &.large {
        font-size: 18px;
        line-height: 24px;
        padding: 8px 24px 8px 16px;
    }
}

textarea.input {
    padding: 16px;
}

.form {
    .row {
        gap: 0;

        .input {
            width: 100%;
        }
    }

    .icon {
        display: inline-block;
        aspect-ratio: 1;
        height: 42px;
        background-color: var(--contrast-color);
        padding: 8px;
    }
    .icon + .input {
        max-width: calc(100% - 40px);
    }
}

.button {
    background-color: var(--contrast-color);
    color: var(--primary-bg-color);
    padding: 8px 16px;
    border-width: 2px;
    border-style: groove;
    transition: var(--transition-default);
    font-family: var(--accent-font);

    &:hover {
        border-style: inset;
        cursor: pointer;
        scale: 1.08;
    }

    &:focus {
        opacity: 0.8;
    }
}