.wof-timer {
    position: fixed;
    bottom: 0;
    left: 0;
    /* left: 50%; */
    /* translate: -50%; */
    z-index: 200;
    color: #fff;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: bold;
    opacity: 0;
    font-size: 48px;

    svg {
        height: 64px;


        rect[v="0"] {
            fill: transparent;
        }

        rect[v="1"] {
            fill: currentColor;
        }
    }
}

.wof-timer-seconds {
    margin-left: -12px;
}

.wof-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* light pink with some transparency */
    z-index: 0;
    opacity: 0;
}

.wof-words-container {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    color: #fff;
}

.wof-word {
    z-index: 100;
    height: clamp(48px, calc(8vw + 32px), calc(14vh - 32px));
    display: inline-block;
    transform-origin: center center;
    /* translate: -50% -50%; */
    padding: 16px;
    color: #fff;

    rect[v="0"] {
        fill: transparent;
    }

    rect[v="1"] {
        fill: currentColor;
    }
}
